node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
dist
coverage
.nyc_output
*.log
logs
*.tgz
*.tar.gz
.cache
.next
.nuxt
.vuepress/dist
.serverless
.netlify
.vercel
.temp
.tmp